In [1]:
import pandas as pd
df = pd.read_csv("loan_data_set.csv")
import seaborn as sns 

df.head()
#df= pd.read_csv("F:/loan_data_set.csv", delimiter=',', header=None, skiprows=1, names=['LABEL','F1','F2','F3','F4','F5','X','Y','Z','C1','C2'])

dfk = df[df['ApplicantIncome']!=' '][['Dependents','Marrie','Self_Employed','ApplicantIncome','CoapplicantIncome','Property_Area','LoanAmount']]
#dfk = df[df['device']!=''][['humidity','temp']]
#dfk.head()
dfk.dropna()
#dfk.interpolate().plot()


#Pdict = {'Urban': 0, 'Semiurban': 1, 'Rural': 3}
#dfk['Property_Area']=df['Property_Area'].apply(lambda x: Pdict[x])
import math
Pdict = {hash("Urban"): 0, hash("Semiurban"): 1, hash("Rural"): 2}
dfk['Property_Area']=dfk['Property_Area'].apply(lambda x: hash(x))

#.apply(lambda x: df['Property_Area'].astype(float) if x!='' else 0)
#print(Pdict)
dfk['Property_Area']=dfk['Property_Area'].apply(lambda x: Pdict[x]) 
#astype(float)

dfk['Dependents']=dfk['Dependents'].apply(lambda x: -2 if x==''  else x) 
dfk['Dependents']=dfk['Dependents'].apply(lambda x: -1 if x=="3+" else float(x) )
dfk['Dependents']=dfk['Dependents'].apply(lambda x: -2 if math.isnan(x)  else x) 
#dfk['Property_Area']=df['Property_Area'].apply(lambda x: 1 if x!='NAN' else 0)

#dfk['Property_Area']=df['Property_Area'].apply(lambda x: x+' ' if x!=' ' else x+'  ')


#dkf.applymap(lambda x: len(str(x)))

#dfk['Property_Area']=df['Property_Area'].apply(lambda x: 2 if  x=='Semiurban' else 0)


#dfk['Property_Area']=df['Property_Area'].apply(str);


#dfk['Property_Area']=df['Property_Area'].apply(lambda x: ', '.join([str(i) for i in x]))

 #['float':'Dependents','float':'Married','float':'Self_Employed','float':'ApplicantIncome','float':'CoapplicantIncome','float':'LoanAmount'])


#dfk['Dependents']=df['Dependents'].apply(lambda x: 1 if x == '1' else 0)
dfk['Marrie']=dfk['Marrie'].apply(lambda x: 1 if x=='Yes' else 0)
dfk['Self_Employed']=dfk['Self_Employed'].apply(lambda x: 1 if x=='Yes' else 0)
#dfk['ApplicantIncome']=df['ApplicantIncome'].apply(lambda x: x+0.1 if x!=' ' else x+0.1)
#dfk['CoapplicantIncome']=df['CoapplicantIncome'].apply(lambda x: x+' ' if x!=' ' else x+' ')

dfk['LoanAmount']=dfk['LoanAmount'].apply(lambda x: 0 if math.isnan(x) else x)
dfk['ApplicantIncome']=dfk['ApplicantIncome'].apply(lambda x: 0 if math.isnan(x) else x)
dfk['CoapplicantIncome']=dfk['CoapplicantIncome'].apply(lambda x: 0 if math.isnan(x) else x)
#dfk.head()



#dfk = df[df['device']!=''][["Dependents","Married", "Self_Employed","ApplicantIncome","CoapplicantIncome","LoanAmount"]]
#dfk = df[df['device']!=''][['humidity','temp','co','lpg','smoke']]

dfkid = dfk[dfk['ApplicantIncome']!=''][['Dependents','Self_Employed','Marrie','ApplicantIncome','CoapplicantIncome' ,'Property_Area','LoanAmount']]#
dfkmd = dfk['Self_Employed']
#dfkid
#dfkmd
dfk.head()

G:\Anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

,Dependents,Marrie,Self_Employed,ApplicantIncome,CoapplicantIncome,Property_Area,LoanAmount
0,0.0,0,0,5849,0.0,0,0.0
1,1.0,1,0,4583,1508.0,2,128.0
2,0.0,1,1,3000,0.0,0,66.0
3,0.0,1,0,2583,2358.0,0,120.0
4,0.0,0,0,6000,0.0,0,141.0

In [16]:
import re
from sklearn import model_selection 
Data_train, Data_test, Marks_train, Marks_test = model_selection.train_test_split(dfkid, dfkmd, test_size = 0.3)

In [17]:
Data_train
#Marks_train
#Data_test
#Marks_test
#Data_train.info()
#Marks_train

,Dependents,Self_Employed,Marrie,ApplicantIncome,CoapplicantIncome,Property_Area,LoanAmount
449,1.0,1,0,2769,1542.0,1,190.0
226,-2.0,1,1,4735,0.0,0,138.0
228,-2.0,0,0,4758,0.0,1,158.0
309,2.0,0,1,7667,0.0,2,185.0
50,0.0,0,1,1928,1644.0,1,100.0
...,...,...,...,...,...,...,...
485,1.0,0,1,1958,2436.0,2,131.0
269,1.0,0,0,2876,1560.0,0,90.0
395,2.0,0,1,3276,484.0,1,135.0
532,2.0,0,0,3588,0.0,2,110.0
10,2.0,0,1,3200,700.0,0,70.0

In [18]:
from sklearn.tree import DecisionTreeClassifier

In [19]:
tree = DecisionTreeClassifier(criterion='entropy', max_depth=3)
#dfk.info()

In [20]:
tree.fit(Data_train,Marks_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3)

In [21]:
#pip install pydotplus
import pydotplus
from sklearn.tree import export_graphviz
def tree_graph_to_png(tr, feature_names,png_FTS):
    tree_str =export_graphviz(tr, feature_names=feature_names,filled=True, out_file=None)
    graph = pydotplus.graph_from_dot_data(tree_str)
    graph.write_png(png_FTS)

In [22]:
import os     
#os.environ["PATH"] += os.pathsep + 'C:\\Users\\sveta\\anaconda3\\Library\\bin\\graphviz'
os.environ["PATH"] += os.pathsep + 'G:\\Anaconda3\\Library\\bin\\graphviz'

In [23]:
tree_graph_to_png(tr=tree,feature_names =["Dependents",'Self_Employed',"Married","ApplicantIncome","CoapplicantIncome",'Property_Area',"LoanAmount"],png_FTS="myTree2.png")